<html lang="en">
<head>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <%- include ('partials/nav') %>
    <h1>Awesome website right here</h1>
    <p>It is, indeed</p>
</body>
</html>